
h1{color: rgb(75, 42, 165); text-align: center;}

.Akron.Combustibles{color: rgba(0, 174, 255, 0.774);}

.titulo{font-family: Verdana, Geneva, Tahoma, sans-serif ;}

#nombre{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         height: 20px;width: 100px;
         color: blueviolet;
         text-align:left;}


p2 {text-decoration: overline; color: rgb(220, 20, 113);
  font-family: Arial, Helvetica, sans-serif;}    
  


                          